In [5]:
%load_ext lab_black
%config Completer.use_jedi = False
import pandas as pd
from Grid_Tuning_arithmetic import grid_trading, speedy_grid_trading
from tqdm import tqdm
import time

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [6]:
%%time

FILENAME = "Binance_BTC_1m.csv"
data = pd.read_csv(FILENAME)
optimization_arithmetic=[]
for interval_for_bounds in tqdm(range(5,20)):
    for sd in range(2,5):
        records_df, final_profit = speedy_grid_trading(
            data, INTERVAL_FOR_BOUNDS=interval_for_bounds * 24 * 60, SD_PARAMETER=sd,
        )
        optimization_arithmetic.append([final_profit, "", interval_for_bounds, sd])

100%|█████████████████████████████████████████████████████████████████████████████████| 15/15 [25:49<00:00, 103.30s/it]

Wall time: 25min 50s

In [18]:
# optimization=[]
# for interval_for_rsv in tqdm(range(10, 60)):
#     for interval_for_bounds in range(2, 20):
#         for sd_parameter in range(2,5):
#             records_df, final_profit = grid_trading(
#                 data, INTERVALS_FOR_RSV=interval_for_rsv, INTERVAL_FOR_BOUNDS=interval_for_bounds * 24 * 60, SD_PARAMETER=sd_parameter,
#             )
#             optimization.append([final_profit, interval_for_rsv, interval_for_bounds, sd_parameter])
#             print(time.ctime())

In [7]:
optimization_df = pd.DataFrame(
    optimization_arithmetic,
    columns=["FinalProfit", "IntervalForRSV", "IntervalForBounds", "SDParameter",],
)

In [17]:
optimization_df.to_excel("Training_ArithmeticSequence.xlsx")
# optimization_df = pd.read_excel("Training.xlsx")
optimization_df

    FinalProfit IntervalForRSV  IntervalForBounds  SDParameter
0        179241                                 5            2
1        214681                                 5            3
2        151395                                 5            4
3        172191                                 6            2
4        148440                                 6            3
5        157398                                 6            4
6        166943                                 7            2
7        197137                                 7            3
8        162886                                 7            4
9        193953                                 8            2
10       175958                                 8            3
11       194118                                 8            4
12       181445                                 9            2
13       184765                                 9            3
14       206426                                 9            4
15       179104                                10            2
16       170334                                10            3
17       210745                                10            4
18       167599                                11            2
19       165011                                11            3
20       174586                                11            4
21       159548                                12            2
22       167526                                12            3
23       166301                                12            4
24       170931                                13            2
25       171919                                13            3
26       177751                                13            4
27       175287                                14            2
28       171962                                14            3
29       185855                                14            4
30       164362                                15            2
31       165966                                15            3
32       180692                                15            4
33       205718                                16            2
34       159710                                16            3
35       204924                                16            4
36       204404                                17            2
37       154164                                17            3
38       197041                                17            4
39       159972                                18            2
40       159778                                18            3
41       208307                                18            4
42       146214                                19            2
43       171906                                19            3
44       184480                                19            4

In [9]:
df = optimization_df[
    optimization_df["FinalProfit"] == optimization_df["FinalProfit"].max()
]
SDParameter = df["SDParameter"].unique()
IntervalForBounds = df["IntervalForBounds"].unique()
IntervalForRSV = df["IntervalForRSV"].unique()
FinalProfit = df["FinalProfit"].unique()

In [10]:
SDParameter

array([3], dtype=int64)

In [11]:
IntervalForBounds

array([5], dtype=int64)

In [12]:
IntervalForRSV

array([''], dtype=object)

In [13]:
FinalProfit

array([214681], dtype=int64)

In [15]:
from Grid_Tuning_arithmetic import grid_trading, speedy_grid_trading

records_df, final_profit = speedy_grid_trading(
    data, INTERVAL_FOR_BOUNDS=5 * 24 * 60, SD_PARAMETER=3,
)
records_df["Hour"] = pd.to_datetime(records_df["Hour"])
records_df

,Action,Price,n,Cash,Profit,LowerBound,UpperBound,Grid,Hour
0,Buying,18501,5.0,7495,-92505,17577.972772,19031.264112,145.329134,2020-11-24 10:22:00
1,Selling,18648,0.0,100736,736,17659.897028,19019.603399,135.970637,2020-11-24 17:23:00
2,Buying,18864,5.0,6417,-93583,17660.264044,19019.581662,135.931762,2020-11-24 17:24:00
3,Selling,18999,0.0,101410,1410,17729.374223,19027.787591,129.841337,2020-11-24 20:21:00
4,Buying,18442,5.0,9202,-90798,17724.664779,19112.628596,138.796382,2020-11-24 02:00:00
...,...,...,...,...,...,...,...,...,...
2209,Selling,57361,0.0,293833,193833,34408.024073,67695.844375,3328.782030,2021-03-12 05:01:00
2210,Buying,58022,5.0,3721,-96279,34415.005880,67694.222770,3327.921689,2021-03-12 05:02:00
2211,Selling,60763,0.0,307534,207534,41636.041183,67115.520958,2547.947978,2021-03-14 10:00:00
2212,Buying,61469,5.0,191,-99809,41639.205639,67116.532075,2547.732644,2021-03-14 10:01:00
2213,Selling,62898,0.0,314681,214681,52383.270539,66192.247145,1380.897661,2021-04-13 23:41:00

In [16]:
import numpy as np

# records_df = records_df.sort_values(by="Hour", ascending=True)
records_df["TransactionInterval"] = records_df["Hour"].diff()
records_df = records_df.dropna()
records_df.loc[:, "TransactionInterval"] = records_df["TransactionInterval"].apply(
    lambda x: x.seconds
)
records_df

C:\Users\bizjun\Anaconda3\envs\AlgoTrading\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,Action,Price,n,Cash,Profit,LowerBound,UpperBound,Grid,Hour,TransactionInterval
1,Selling,18648,0.0,100736,736,17659.897028,19019.603399,135.970637,2020-11-24 17:23:00,25260
2,Buying,18864,5.0,6417,-93583,17660.264044,19019.581662,135.931762,2020-11-24 17:24:00,60
3,Selling,18999,0.0,101410,1410,17729.374223,19027.787591,129.841337,2020-11-24 20:21:00,10620
4,Buying,18442,5.0,9202,-90798,17724.664779,19112.628596,138.796382,2020-11-24 02:00:00,20340
5,Selling,19049,0.0,104450,4450,17868.033636,19067.170292,119.913666,2020-11-25 00:32:00,81120
...,...,...,...,...,...,...,...,...,...,...
2209,Selling,57361,0.0,293833,193833,34408.024073,67695.844375,3328.782030,2021-03-12 05:01:00,19380
2210,Buying,58022,5.0,3721,-96279,34415.005880,67694.222770,3327.921689,2021-03-12 05:02:00,60
2211,Selling,60763,0.0,307534,207534,41636.041183,67115.520958,2547.947978,2021-03-14 10:00:00,17880
2212,Buying,61469,5.0,191,-99809,41639.205639,67116.532075,2547.732644,2021-03-14 10:01:00,60
2213,Selling,62898,0.0,314681,214681,52383.270539,66192.247145,1380.897661,2021-04-13 23:41:00,49200

In [18]:
records_df.to_excel("TransactionHistory_ArithmeticSequence.xlsx")