In [1]:
#%load_ext lab_black
#%config Completer.use_jedi = False
import pandas as pd
from Grid_Tuning import grid_trading, speedy_grid_trading
from tqdm import tqdm
import time

In [ ]:
%%time

FILENAME = "Binance_BTC_1m.csv"
data = pd.read_csv(FILENAME)
optimization=[]
for interval_for_bounds in tqdm(range(5,20)):
    for sd in range(2,5):
        records_df, final_profit = speedy_grid_trading(
            data, INTERVAL_FOR_BOUNDS=interval_for_bounds * 24 * 60, SD_PARAMETER=sd,
        )
        optimization.append([final_profit, "", interval_for_bounds, sd])

 73%|████████████████████████████████████████████████████████████▏                     | 11/15 [10:44<03:49, 57.41s/it]

In [3]:
# optimization=[]
# for interval_for_rsv in tqdm(range(10, 60)):
#     for interval_for_bounds in range(2, 20):
#         for sd_parameter in range(2,5):
#             records_df, final_profit = grid_trading(
#                 data, INTERVALS_FOR_RSV=interval_for_rsv, INTERVAL_FOR_BOUNDS=interval_for_bounds * 24 * 60, SD_PARAMETER=sd_parameter,
#             )
#             optimization.append([final_profit, interval_for_rsv, interval_for_bounds, sd_parameter])
#             print(time.ctime())

In [4]:
data

,TimeStamp,Open,High,Low,Close,Volume,boll_upper,boll_lower
0,2020-11-19 01:23:00,17844.72,17878.78,17843.08,17864.41,128.141795,NaN,NaN
1,2020-11-19 01:24:00,17863.82,17864.32,17844.14,17844.73,66.757429,NaN,NaN
2,2020-11-19 01:25:00,17844.73,17849.41,17826.35,17828.35,53.699989,NaN,NaN
3,2020-11-19 01:26:00,17828.36,17829.99,17801.54,17803.66,112.517483,NaN,NaN
4,2020-11-19 01:27:00,17803.66,17806.29,17783.68,17799.98,45.482920,NaN,NaN
...,...,...,...,...,...,...,...,...
199476,2021-04-06 22:38:00,57798.97,57831.81,57716.14,57758.10,94.209696,65518.712075,48442.012208
199477,2021-04-06 22:39:00,57758.09,57825.10,57745.28,57818.77,63.622250,65518.703989,48442.014190
199478,2021-04-06 22:40:00,57818.77,57860.83,57760.66,57783.63,96.278530,65518.689854,48442.017626
199479,2021-04-06 22:41:00,57783.62,57828.57,57760.00,57808.29,60.350468,65518.671377,48442.022544
199480,2021-04-06 22:42:00,57808.29,57808.30,57709.09,57777.17,94.035123,65518.653083,48442.027128

In [5]:
optimization_df = pd.DataFrame(
    optimization,
    columns=["FinalProfit", "IntervalForRSV", "IntervalForBounds", "SDParameter",],
)

In [8]:
# optimization_df.to_excel("Geometric_Sequence_Training_Parameters.xlsx")
# optimization_df = pd.read_excel("Training.xlsx")
optimization_df

    FinalProfit IntervalForRSV  IntervalForBounds  SDParameter
0         99868                                 5            2
1         84778                                 5            3
2        102668                                 5            4
3         97915                                 6            2
4         78284                                 6            3
5        105056                                 6            4
6         92337                                 7            2
7         78518                                 7            3
8        101925                                 7            4
9        120183                                 8            2
10        92856                                 8            3
11       130298                                 8            4
12       146760                                 9            2
13       102448                                 9            3
14       140255                                 9            4
15       138106                                10            2
16       102168                                10            3
17       131944                                10            4
18       109705                                11            2
19       113936                                11            3
20       123082                                11            4
21       130712                                12            2
22       102743                                12            3
23       122557                                12            4
24       124017                                13            2
25       104133                                13            3
26       110277                                13            4
27       111430                                14            2
28       111959                                14            3
29       115395                                14            4
30       129944                                15            2
31       111820                                15            3
32       106743                                15            4
33       143883                                16            2
34       125355                                16            3
35       113962                                16            4
36       144823                                17            2
37       124723                                17            3
38       113073                                17            4
39       133929                                18            2
40        97495                                18            3
41       112872                                18            4
42       105993                                19            2
43       120553                                19            3
44       127345                                19            4

In [9]:
df = optimization_df[
    optimization_df["FinalProfit"] == optimization_df["FinalProfit"].max()
]
SDParameter = df["SDParameter"].unique()
IntervalForBounds = df["IntervalForBounds"].unique()
IntervalForRSV = df["IntervalForRSV"].unique()
FinalProfit = df["FinalProfit"].unique()

In [10]:
SDParameter

array([2], dtype=int64)

In [11]:
IntervalForBounds

array([9], dtype=int64)

In [12]:
IntervalForRSV

array([''], dtype=object)

In [13]:
FinalProfit

array([146760], dtype=int64)

In [14]:
from Grid_Tuning import grid_trading, speedy_grid_trading

records_df, final_profit = speedy_grid_trading(
    data, INTERVAL_FOR_BOUNDS=9 * 24 * 60, SD_PARAMETER=2,
)
records_df

,Action,Price,n,Cash,Profit,LowerBound,UpperBound,Rate,Hour
0,Buying,18462,5.0,7689,-92311,17577.922116,19031.099631,0.005690,2020-11-24 01:22:00
1,Selling,18611,0.0,100747,747,17801.509793,18973.826729,0.007112,2020-11-24 17:21:00
2,Buying,18818,5.0,6657,-93343,17801.911725,18973.738783,0.007108,2020-11-24 17:22:00
3,Selling,18971,0.0,101510,1510,17818.137869,18972.385303,0.006999,2020-11-24 18:00:00
4,Buying,18971,5.0,6653,-93347,17823.545001,18972.165994,0.006963,2020-11-24 18:12:00
...,...,...,...,...,...,...,...,...,...
2868,Selling,57454,0.0,239511,139511,44301.725342,57599.675326,0.013911,2021-02-22 00:52:00
2869,Buying,57634,4.0,8975,-91025,44302.541150,57717.931680,0.014020,2021-02-22 02:10:00
2870,Selling,58533,0.0,243109,143109,45376.811729,59455.629676,0.014324,2021-03-13 18:12:00
2871,Buying,59440,4.0,5349,-94651,45376.294776,59458.844849,0.014328,2021-03-13 18:14:00
2872,Selling,60353,0.0,246760,146760,45335.550460,60411.732133,0.015225,2021-03-14 03:37:00

In [22]:
import numpy as np
temp=pd.to_datetime(records_df["Hour"])
# temp.diff()
records_df["TransactionInterval"]=temp.diff()
records_df

,Action,Price,n,Cash,Profit,LowerBound,UpperBound,Rate,Hour,TransactionInterval
0,Buying,18462,5.0,7689,-92311,17577.922116,19031.099631,0.005690,2020-11-24 01:22:00,NaT
1,Selling,18611,0.0,100747,747,17801.509793,18973.826729,0.007112,2020-11-24 17:21:00,0 days 15:59:00
2,Buying,18818,5.0,6657,-93343,17801.911725,18973.738783,0.007108,2020-11-24 17:22:00,0 days 00:01:00
3,Selling,18971,0.0,101510,1510,17818.137869,18972.385303,0.006999,2020-11-24 18:00:00,0 days 00:38:00
4,Buying,18971,5.0,6653,-93347,17823.545001,18972.165994,0.006963,2020-11-24 18:12:00,0 days 00:12:00
...,...,...,...,...,...,...,...,...,...,...
2868,Selling,57454,0.0,239511,139511,44301.725342,57599.675326,0.013911,2021-02-22 00:52:00,0 days 10:31:00
2869,Buying,57634,4.0,8975,-91025,44302.541150,57717.931680,0.014020,2021-02-22 02:10:00,0 days 01:18:00
2870,Selling,58533,0.0,243109,143109,45376.811729,59455.629676,0.014324,2021-03-13 18:12:00,19 days 16:02:00
2871,Buying,59440,4.0,5349,-94651,45376.294776,59458.844849,0.014328,2021-03-13 18:14:00,0 days 00:02:00
2872,Selling,60353,0.0,246760,146760,45335.550460,60411.732133,0.015225,2021-03-14 03:37:00,0 days 09:23:00

In [24]:
# records_df.to_excel("TransactionHistory_GeometricSequence.xlsx")

In [20]:
18611 / 18462 - 1 - 0.007112

0.0009586315675440618