In [ ]:
%load_ext lab_black
import ccxt
import time
import pandas as pd

In [ ]:
exchange = ccxt.binance()

In [ ]:
# Ticker data
# data = exchange.fetchTicker(symbol = 'BTC/USDT')

In [8]:
current_time = int(time.time() // 60 * 60 * 1000)  # ms
print(current_time)
limit = 100

1618919340000

In [1]:
%%time
data_list = []
for i in range(1,2001):
    data = exchange.fetch_ohlcv(symbol = 'BTC/USDT', timeframe = '1hr', limit = 100, since = current_time - limit*60*1000*i)
    data_list.append(data)
    #df = pd.DataFrame(data)
    #print(data)
data_list

NameError: name 'exchange' is not defined

In [ ]:
len(data_list)

In [243]:
concatenated = []
for l in data_list:
    concatenated.extend(l)

In [244]:
#concatenated

In [245]:
df = pd.DataFrame(concatenated)
#df

In [246]:
df.columns = ['TimeStamp', 'Open', 'High', 'Low', 'Close', 'Volume'] 
#df

In [247]:
df = df.sort_values(by=['TimeStamp'], ascending=True)
df

            TimeStamp      Open      High       Low     Close      Volume
199381  1605720180000  17844.72  17878.78  17843.08  17864.41  128.141795
199382  1605720240000  17863.82  17864.32  17844.14  17844.73   66.757429
199383  1605720300000  17844.73  17849.41  17826.35  17828.35   53.699989
199384  1605720360000  17828.36  17829.99  17801.54  17803.66  112.517483
199385  1605720420000  17803.66  17806.29  17783.68  17799.98   45.482920
...               ...       ...       ...       ...       ...         ...
95      1617719880000  57798.97  57831.81  57716.14  57758.10   94.209696
96      1617719940000  57758.09  57825.10  57745.28  57818.77   63.622250
97      1617720000000  57818.77  57860.83  57760.66  57783.63   96.278530
98      1617720060000  57783.62  57828.57  57760.00  57808.29   60.350468
99      1617720120000  57808.29  57808.30  57709.09  57777.17   94.035123

[199481 rows x 6 columns]

In [248]:
df.dtypes

TimeStamp      int64
Open         float64
High         float64
Low          float64
Close        float64
Volume       float64
dtype: object

In [249]:
df['TimeStamp'] = pd.to_datetime(df['TimeStamp'], unit = 'ms') + pd.Timedelta(hours = 8)

In [250]:
df = df.set_index('TimeStamp', drop = 'True')

In [256]:
pd.set_option('display.max_rows', 500)
print(df.isnull().values.any())
df

False

                         Open      High       Low     Close      Volume
TimeStamp
2020-11-19 01:23:00  17844.72  17878.78  17843.08  17864.41  128.141795
2020-11-19 01:24:00  17863.82  17864.32  17844.14  17844.73   66.757429
2020-11-19 01:25:00  17844.73  17849.41  17826.35  17828.35   53.699989
2020-11-19 01:26:00  17828.36  17829.99  17801.54  17803.66  112.517483
2020-11-19 01:27:00  17803.66  17806.29  17783.68  17799.98   45.482920
...                       ...       ...       ...       ...         ...
2021-04-06 22:38:00  57798.97  57831.81  57716.14  57758.10   94.209696
2021-04-06 22:39:00  57758.09  57825.10  57745.28  57818.77   63.622250
2021-04-06 22:40:00  57818.77  57860.83  57760.66  57783.63   96.278530
2021-04-06 22:41:00  57783.62  57828.57  57760.00  57808.29   60.350468
2021-04-06 22:42:00  57808.29  57808.30  57709.09  57777.17   94.035123

[199481 rows x 5 columns]

In [253]:
df.to_csv('Binance_BTC_1m.csv')